.publish-div{
    margin-top: 130px;
}
.Publish-heading{
    font-size: 26px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 100px;
}
.second-para {
  font-size: 16px;
  font-weight: 600;
  width: 250px;
  margin-left: 180px;
  margin-top: 80px;
}
.publish-img{
    margin-top: 70px;
    width: 435px;
    height: 311px;
}
.button-submit-Writer{
    width: 340px;
    height: 45px;
    background: #53c352;
    border-radius: 10px;
    text-align: center;
    margin-top: 22px;
    color: #ffffff;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}