.NAv-head {
  text-align: center;
  margin-left: 80px;
  margin-top: 30px;
  font-size: 18px;
  color: #53c352;
}
.NAV-a {
  margin-left: 150px;
  margin-top: 30px;
}
.NAV-a a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  color: #6d6a6a;
}
.NAv-btn {
  width: 80px;
  height: 40px;
  background-color: #53c352;
  border-radius: 10px;
  border: none;
  color: white;
  margin-left: 10px;
}
.BTn-div {
  margin-top: 20px;
}
.Profile-Writer-head {
  display: flex;
  width: auto;
  justify-content: space-evenly;
  cursor: pointer;
}
.Profile-Writer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: auto;
}
.Profile-Writer-img {
  width: 50px;
  height: 50px;
}
.Profile-Writer-Arrow {
  width: 30px;
  height: 20px;
}
.Profile-Writer-button {
  width: 126px;
  height: 44px;
  background: #53c352;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: none;
}
.dropdown-list-W {
  position: absolute;
  width: 245px;
  height: 210px;
  left: -10%;
  top: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.dropdown-list-W ul li img {
  width: 15.83px;
  height: 18.33px;
}
.dropdown-list-W ul li {
  list-style: none;
  height: 40px;
  width: 100%;
  padding-left: 18px;
  border-bottom: 1px solid #b2f4b2;
  display: flex;
  align-items: center;
}
.dropdown-list-W ul li span {
  padding-left: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #7c7c7c;
}
